In [338]:
import pandas as pd
import numpy as np
import math

## Import dataset

In [339]:
df=pd.read_csv('dataset_output/raw_training_data_cleaned_up.csv')

## Shuffle dataset and reset index
reset_index tells Pandas to replace the existing index column instead of creating a new one.

frac is the fraction of rows to return; in this case 100% of them, in random order

In [340]:
df = df.sample(frac=1).reset_index(drop=True)

In [341]:
df

,Unnamed: 0,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide.metformin,glipizide.metformin,glimepiride.pioglitazone,metformin.rosiglitazone,metformin.pioglitazone,change,diabetesMed,readmitted
0,3079,19583754,4890204,3,1,9,2,1,1,2,...,1,1,1,1,1,1,1,0,0,0
1,17351,64029438,70002297,3,1,8,6,1,1,1,...,1,1,1,1,1,1,1,0,1,0
2,85815,272892954,54097524,3,2,8,3,1,1,7,...,1,1,1,1,1,1,1,0,0,0
3,49437,149775444,39942765,3,1,9,5,23,1,9,...,1,4,1,1,1,1,1,1,1,2
4,56211,161806470,40937607,3,1,8,3,23,1,14,...,1,1,1,1,1,1,1,0,1,2
5,93552,339053252,80353494,3,1,7,1,1,7,2,...,1,3,1,1,1,1,1,1,1,0
6,42130,130223976,40605183,3,1,8,1,1,7,1,...,1,1,1,1,1,1,1,0,1,2
7,6957,33727470,11290896,1,1,6,1,1,7,2,...,1,1,1,1,1,1,1,0,1,2
8,2485,16206390,3054483,1,1,3,3,1,1,2,...,1,2,1,1,1,1,1,1,1,0
9,67301,189387594,95467419,3,1,5,2,1,7,3,...,1,2,1,1,1,1,1,1,1,2
10,94578,351942314,107211096,1,1,10,1,3,7,4,...,1,3,1,1,1,1,1,1,1,0
11,49285,149581638,84410505,1,1,6,1,6,7,6,...,1,1,1,1,1,1,1,1,1,2
12,92514,325445186,86067666,3,2,6,1,1,7,5,...,1,1,1,1,1,1,1,0,0,0
13,99597,427913852,176567054,3,1,8,1,1,7,3,...,1,1,1,1,1,1,1,0,0,0
14,41787,129347808,86001930,1,1,9,1,6,7,8,...,1,3,1,1,1,1,1,0,1,2
15,71583,208540194,43206831,3,2,8,1,1,7,2,...,1,3,1,1,1,1,1,1,1,2
16,49441,149778894,50829453,1,1,9,3,6,1,2,...,1,3,1,1,1,1,1,1,1,2
17,6274,31316184,25762158,3,1,8,5,3,17,7,...,1,3,1,1,1,1,1,1,1,0
18,73706,219127272,41224500,3,1,8,3,1,1,6,...,1,1,1,1,1,1,1,0,0,1
19,34503,108085926,13077927,6,2,10,2,3,4,6,...,1,1,1,1,1,1,1,1,1,0
20,6707,32822484,23511861,3,2,6,5,1,17,1,...,1,2,1,1,1,1,1,1,1,0
21,80564,249187146,87054363,1,1,7,1,1,7,2,...,1,1,1,1,1,1,1,1,1,2
22,98476,413726726,47456136,1,1,6,1,1,7,1,...,1,3,1,1,1,1,1,0,1,2
23,14846,57536496,19119960,3,2,6,1,1,7,2,...,1,3,1,1,1,1,1,1,1,0
24,4561,25547874,99890217,3,1,7,1,1,7,6,...,1,1,1,1,1,1,1,0,0,0
25,82283,256768494,102699225,1,2,5,2,1,1,4,...,1,1,1,1,1,1,1,0,1,0
26,6759,33041886,10250037,3,1,6,1,1,7,1,...,1,3,1,1,1,1,1,1,1,0
27,78774,241465932,100558503,3,1,8,1,6,7,4,...,1,3,1,1,1,1,1,1,1,0
28,3750,22526076,3973347,3,1,8,1,3,7,6,...,1,1,1,1,1,1,1,0,0,2
29,38934,121404990,65618370,3,2,8,1,6,7,3,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100672,25622,85454706,1892088,3,1,10,2,3,1,5,...,1,1,1,1,1,1,1,0,0,2
100673,91735,314972852,43368084,3,1,7,1,1,7,3,...,1,1,1,1,1,1,1,0,0,0
100674,4451,25137600,24046452,3,2,4,5,1,17,1,...,1,4,1,1,1,1,1,1,1,1
100675,74594,223031304,91936395,3,2,7,1,1,7,1,...,1,3,1,1,1,1,1,0,1,2
100676,31606,101375184,23942205,3,2,6,1,22,7,3,...,1,1,1,1,1,1,1,0,1,2
100677,49844,150484194,92430774,1,2,7,2,1,1,3,...,1,1,1,1,1,1,1,0,1,2
100678,42830,132406812,23288652,1,2,8,1,23,7,14,...,1,3,1,1,1,1,1,1,1,0
100679,48287,147648582,81392220,3,2,8,1,1,7,1,...,1,1,1,1,1,1,1,0,0,2
100680,60741,170159430,84352869,3,2,6,2,22,4,10,...,1,2,1,1,1,1,1,1,1,1
100681,68635,194576976,60260697,3,2,7,3,1,1,6,...,1,1,1,1,1,1,1,0,0,0
100682,42942,132735306,40415247,3,1,9,1,1,7,1,...,1,1,1,1,1,1,1,0,1,2
100683,40484,125868468,89057322,6,2,7,2,1,7,2,...,1,4,1,1,1,1,1,1,1,2
100684,91091,306732494,103410108,3,1,6,3,1,1,4,...,1,1,1,1,1,1,1,0,0,0
100685,72465,212751048,89578980,3,1,6,1,6,7,5,...,1,3,1,1,1,1,1,1,1,0
100686,52000,154620690,57515301,1,1,6,2,1,1,8,...,1,1,1,1,1,1,1,0,0,2
100687,91514,312046928,170862053,5,1,9,1,3,1,6,...,1,1,1,1,1,1,1,0,0,1
100688,56910,163101150,24343884,1,1,8,3,1,1,1,...,1,1,1,1,1,1,1,0,0,0
100689,67980,191888454,59667417,3,1,7,1,3,7,7,...,1,3,1,1,1,1,1,1,1,0
100690,84688,267953562,29164752,3,1,6,1,6,7,1,...,1,1,1,1,1,1,1,0,0,0
100691,63945,178356150,104476635,3,1,5,1,1,7,2,...,1,1,1,1,1,1,1,1,1,0
100692,60914,170557332,59259843,3,1,6,2,1,7,7,...,1,3,1,1,1,1,1,1,1,2
100693,84217,265745058,38598876,3,1,8,1,1,7,4,...,1,1,1,1,1,1,1,0,0,0
100694,84140,265298280,42068097,4,2,6,1,1,7,5,...,1,1,1,1,1,1,1,0,1,2
100695,49375,149730828,59216787,3,2,8,1,1,7,1,...,1,1,1,1,1,1,1,0,1,0
100696,27092,88930986,1043586,1,1,8,2,1,1,4,...,1,1,1,1,1,1,1,1,1,0
100697,49092,149150460,64121751,3,1,6,1,1,1,8,...,1,1,1,1,1,1,1,0,0,0
100698,82171,256404258,95578983,3,1,8,1,1,7,3,...,1,1,1,1,1,1,1,1,1,0
100699,35179,109443684,24152913,3,2,7,5,14,17,2,...,1,3,1,1,1,1,1,0,1,0
100700,58708,166232010,90895518,3,2,8,1,3,7,12,...,1,1,1,1,1,1,1,0,0,1
100701,83016,259959756,102121488,3,2,8,1,1,7,4,...,1,2,1,1,1,1,1,1,1,0

## Clean up the dataframe a bit

In [342]:
df.rename(columns={'glyburide.metformin':'glyburide_metformin', 
                   'glipizide.metformin':'glipizide_metformin',
                   'glimepiride.pioglitazone':'glimepiride_pioglitazone', 
                   'metformin.rosiglitazone':'metformin_rosiglitazone',
                   'metformin.pioglitazone':'metformin_pioglitazone'}, 
          inplace=True)

In [343]:
X = df.drop(['Unnamed: 0', 'encounter_id','patient_nbr'], axis=1, inplace=True)

In [344]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100702 entries, 0 to 100701
Data columns (total 45 columns):
race                        100702 non-null int64
gender                      100702 non-null int64
age                         100702 non-null int64
admission_type_id           100702 non-null int64
discharge_disposition_id    100702 non-null int64
admission_source_id         100702 non-null int64
time_in_hospital            100702 non-null int64
num_lab_procedures          100702 non-null int64
num_procedures              100702 non-null int64
num_medications             100702 non-null int64
number_outpatient           100702 non-null int64
number_emergency            100702 non-null int64
number_inpatient            100702 non-null int64
diag_1                      100702 non-null int64
diag_2                      100702 non-null int64
diag_3                      100702 non-null int64
number_diagnoses            100702 non-null int64
max_glu_serum               100702 non-null int64
A1Cresult                   100702 non-null int64
metformin                   100702 non-null int64
repaglinide                 100702 non-null int64
nateglinide                 100702 non-null int64
chlorpropamide              100702 non-null int64
glimepiride                 100702 non-null int64
acetohexamide               100702 non-null int64
glipizide                   100702 non-null int64
glyburide                   100702 non-null int64
tolbutamide                 100702 non-null int64
pioglitazone                100702 non-null int64
rosiglitazone               100702 non-null int64
acarbose                    100702 non-null int64
miglitol                    100702 non-null int64
troglitazone                100702 non-null int64
tolazamide                  100702 non-null int64
examide                     100702 non-null int64
citoglipton                 100702 non-null int64
insulin                     100702 non-null int64
glyburide_metformin         100702 non-null int64
glipizide_metformin         100702 non-null int64
glimepiride_pioglitazone    100702 non-null int64
metformin_rosiglitazone     100702 non-null int64
metformin_pioglitazone      100702 non-null int64
change                      100702 non-null int64
diabetesMed                 100702 non-null int64
readmitted                  100702 non-null int64
dtypes: int64(45)
memory usage: 34.6 MB

,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,...,citoglipton,insulin,glyburide_metformin,glipizide_metformin,glimepiride_pioglitazone,metformin_rosiglitazone,metformin_pioglitazone,change,diabetesMed,readmitted
0,3,1,9,2,1,1,2,31,1,6,...,1,1,1,1,1,1,1,0,0,0
1,3,1,8,6,1,1,1,30,3,10,...,1,1,1,1,1,1,1,0,1,0
2,3,2,8,3,1,1,7,21,0,4,...,1,1,1,1,1,1,1,0,0,0
3,3,1,9,5,23,1,9,50,0,18,...,1,4,1,1,1,1,1,1,1,2
4,3,1,8,3,23,1,14,61,0,18,...,1,1,1,1,1,1,1,0,1,2
5,3,1,7,1,1,7,2,68,4,30,...,1,3,1,1,1,1,1,1,1,0
6,3,1,8,1,1,7,1,41,0,5,...,1,1,1,1,1,1,1,0,1,2
7,1,1,6,1,1,7,2,35,0,20,...,1,1,1,1,1,1,1,0,1,2
8,1,1,3,3,1,1,2,32,1,15,...,1,2,1,1,1,1,1,1,1,0
9,3,1,5,2,1,7,3,75,0,16,...,1,2,1,1,1,1,1,1,1,2
10,1,1,10,1,3,7,4,61,0,17,...,1,3,1,1,1,1,1,1,1,0
11,1,1,6,1,6,7,6,61,0,18,...,1,1,1,1,1,1,1,1,1,2
12,3,2,6,1,1,7,5,71,0,13,...,1,1,1,1,1,1,1,0,0,0
13,3,1,8,1,1,7,3,36,6,17,...,1,1,1,1,1,1,1,0,0,0
14,1,1,9,1,6,7,8,1,0,14,...,1,3,1,1,1,1,1,0,1,2
15,3,2,8,1,1,7,2,58,0,11,...,1,3,1,1,1,1,1,1,1,2
16,1,1,9,3,6,1,2,1,1,12,...,1,3,1,1,1,1,1,1,1,2
17,3,1,8,5,3,17,7,22,1,33,...,1,3,1,1,1,1,1,1,1,0
18,3,1,8,3,1,1,6,47,0,11,...,1,1,1,1,1,1,1,0,0,1
19,6,2,10,2,3,4,6,33,0,10,...,1,1,1,1,1,1,1,1,1,0
20,3,2,6,5,1,17,1,22,0,14,...,1,2,1,1,1,1,1,1,1,0
21,1,1,7,1,1,7,2,47,0,9,...,1,1,1,1,1,1,1,1,1,2
22,1,1,6,1,1,7,1,23,3,8,...,1,3,1,1,1,1,1,0,1,2
23,3,2,6,1,1,7,2,44,2,12,...,1,3,1,1,1,1,1,1,1,0
24,3,1,7,1,1,7,6,38,0,6,...,1,1,1,1,1,1,1,0,0,0
25,1,2,5,2,1,1,4,40,0,7,...,1,1,1,1,1,1,1,0,1,0
26,3,1,6,1,1,7,1,51,0,9,...,1,3,1,1,1,1,1,1,1,0
27,3,1,8,1,6,7,4,49,0,24,...,1,3,1,1,1,1,1,1,1,0
28,3,1,8,1,3,7,6,64,1,11,...,1,1,1,1,1,1,1,0,0,2
29,3,2,8,1,6,7,3,45,0,12,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100672,3,1,10,2,3,1,5,61,0,6,...,1,1,1,1,1,1,1,0,0,2
100673,3,1,7,1,1,7,3,29,0,16,...,1,1,1,1,1,1,1,0,0,0
100674,3,2,4,5,1,17,1,22,0,10,...,1,4,1,1,1,1,1,1,1,1
100675,3,2,7,1,1,7,1,38,0,12,...,1,3,1,1,1,1,1,0,1,2
100676,3,2,6,1,22,7,3,44,0,5,...,1,1,1,1,1,1,1,0,1,2
100677,1,2,7,2,1,1,3,30,1,10,...,1,1,1,1,1,1,1,0,1,2
100678,1,2,8,1,23,7,14,47,2,29,...,1,3,1,1,1,1,1,1,1,0
100679,3,2,8,1,1,7,1,2,0,4,...,1,1,1,1,1,1,1,0,0,2
100680,3,2,6,2,22,4,10,38,0,13,...,1,2,1,1,1,1,1,1,1,1
100681,3,2,7,3,1,1,6,70,2,16,...,1,1,1,1,1,1,1,0,0,0
100682,3,1,9,1,1,7,1,30,0,9,...,1,1,1,1,1,1,1,0,1,2
100683,6,2,7,2,1,7,2,1,0,6,...,1,4,1,1,1,1,1,1,1,2
100684,3,1,6,3,1,1,4,46,0,15,...,1,1,1,1,1,1,1,0,0,0
100685,3,1,6,1,6,7,5,53,0,18,...,1,3,1,1,1,1,1,1,1,0
100686,1,1,6,2,1,1,8,41,2,12,...,1,1,1,1,1,1,1,0,0,2
100687,5,1,9,1,3,1,6,21,0,21,...,1,1,1,1,1,1,1,0,0,1
100688,1,1,8,3,1,1,1,49,4,17,...,1,1,1,1,1,1,1,0,0,0
100689,3,1,7,1,3,7,7,51,3,14,...,1,3,1,1,1,1,1,1,1,0
100690,3,1,6,1,6,7,1,26,0,10,...,1,1,1,1,1,1,1,0,0,0
100691,3,1,5,1,1,7,2,67,0,12,...,1,1,1,1,1,1,1,1,1,0
100692,3,1,6,2,1,7,7,51,6,27,...,1,3,1,1,1,1,1,1,1,2
100693,3,1,8,1,1,7,4,64,0,13,...,1,1,1,1,1,1,1,0,0,0
100694,4,2,6,1,1,7,5,66,0,14,...,1,1,1,1,1,1,1,0,1,2
100695,3,2,8,1,1,7,1,29,0,4,...,1,1,1,1,1,1,1,0,1,0
100696,1,1,8,2,1,1,4,39,0,19,...,1,1,1,1,1,1,1,1,1,0
100697,3,1,6,1,1,1,8,44,0,9,...,1,1,1,1,1,1,1,0,0,0
100698,3,1,8,1,1,7,3,4,0,9,...,1,1,1,1,1,1,1,1,1,0
100699,3,2,7,5,14,17,2,18,1,13,...,1,3,1,1,1,1,1,0,1,0
100700,3,2,8,1,3,7,12,57,1,11,...,1,1,1,1,1,1,1,0,0,1
100701,3,2,8,1,1,7,4,47,1,21,...,1,2,1,1,1,1,1,1,1,0

#### All columns are using encoded int's. Great!

# Random forest

#### How to pick parameters: http://scikit-learn.org/stable/modules/ensemble.html#parameters

scikit-learn uses randomly selected features to determine how to split a node when constructing a tree (http://scikit-learn.org/stable/modules/ensemble.html#random-forests)

In [345]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

### 1) Construct training, testing and validation sets

In [346]:
TRAIN_SPLIT = 0.8
# TODO: validation set
#VALIDATION_PCT = 0.2 # 20% of the training set will be the validation set
num_rows = len(df)
training_set = df[: math.floor(TRAIN_SPLIT * num_rows)]
#validation_set = df[: math.floor(VALIDATION_PCT * num_rows)]
test_set = df[math.floor((TRAIN_SPLIT) * num_rows) :]

# Sanity check
print(num_rows, len(training_set), len(test_set))

100702 80561 20141

### 2) Extract input and output features

In [347]:
# We want every column other than the admission and disposition id's
all_features = df.axes[1]
in_features = all_features[:3].union(all_features[5:])
out_features = all_features.difference(in_features)

### 3) Run RandomForestClassifier

In [348]:
classifier = RandomForestClassifier(n_estimators=33, max_features=6, 
                                    verbose=2, bootstrap=False,
                                   n_jobs=-1, )
classifier.fit(training_set[in_features], training_set[out_features])

building tree 4 of 33building tree 3 of 33building tree 1 of 33building tree 2 of 33



building tree 5 of 33
building tree 6 of 33
building tree 7 of 33
building tree 8 of 33
building tree 9 of 33
building tree 10 of 33
building tree 12 of 33building tree 11 of 33

building tree 13 of 33
building tree 14 of 33
building tree 15 of 33
building tree 16 of 33
building tree 17 of 33
building tree 18 of 33
building tree 19 of 33
building tree 20 of 33
building tree 21 of 33
building tree 22 of 33
building tree 23 of 33
building tree 24 of 33
building tree 25 of 33
building tree 26 of 33
building tree 27 of 33
building tree 28 of 33
building tree 29 of 33
building tree 30 of 33
building tree 31 of 33
building tree 32 of 33
building tree 33 of 33

[Parallel(n_jobs=-1)]: Done  33 out of  33 | elapsed:    7.9s finished

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=None, max_features=6, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=33, n_jobs=-1, oob_score=False, random_state=None,
            verbose=2, warm_start=False)

In [349]:
classifier.get_params()

{'bootstrap': False,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 6,
 'max_leaf_nodes': None,
 'min_impurity_split': 1e-07,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 33,
 'n_jobs': -1,
 'oob_score': False,
 'random_state': None,
 'verbose': 2,
 'warm_start': False}

### 4) Train our model

In [350]:
predict_classes = classifier.predict(test_set[in_features]) # predict classes for data in test_set
predict_classes

[Parallel(n_jobs=4)]: Done  33 out of  33 | elapsed:    2.2s finished

array([[ 3.,  6.],
       [ 1.,  1.],
       [ 1.,  1.],
       ...,
       [ 5.,  1.],
       [ 1.,  1.],
       [ 1.,  1.]])

### 5) Evaluate our model

Since scikit doesn't support multiclass-multilabel, we have to do this manually in a simple, basic way for now.

In [351]:
np.sum(np.equal(test_set[out_features], predict_classes))/len(test_set)

admission_type_id           0.775582
discharge_disposition_id    0.621419
dtype: float64

## Models to try:


Adaboost

Gradient Tree Boosting 

Try VotingClassifier from scikit at the end


## Things to try:
predict time in hospital